.header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  background: $dark;
  z-index: 100;

  .container {
    width: 100%;
    padding-left: 3.5938vw;
    padding-right: 4.7917vw;
    padding-top: 1.1458vw;
    padding-bottom: 1.8750vw;
  }

}

.header-cont {
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 0.7813vw;

  .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 12.0833vw;
    height: 6.6667vw;

    a, img {
      width: 100%;
      height: 100%;
      display: flex;
    }
  }
}

.header-menu {

}

.burger {
  display: none;
}

.menu {
  width: 100%;
  display: flex;
  align-items: center;

  ul {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    li {
      margin-left: 5.9896vw;
      display: flex;

      &:last-child {
        margin-left: 0;
      }

      &:first-child {
        margin-left: 4.9479vw;
      }

      a {
        font-weight: 400;
        font-size: 2.0833vw;
        line-height: 3.0729vw;
        color: #fff;

        &:hover, &.active {
          color: #57AAFF;
        }
      }

      &.current-menu-item {
        a {
          color: #57AAFF;
        }
      }
    }
  }
}

main {

}

.home-hero {
  width: 100%;
  margin-top: -6.8750vw;
  overflow: hidden;
  height: 56.3542vw;
  position: relative;

  .img {
    width: 100%;
    height: 100%;
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: inline-block;
      content: '';

      background: linear-gradient(to top, #09244f 0%, rgba(1, 15, 54, 0.06) 100%);
      opacity: 0.34;
      z-index: 2;
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: inline-block;
      content: '';
      z-index: 2;
      background: linear-gradient(to top, #09244f 0%, rgba(1, 15, 54, 0.06) 100%);
      opacity: 1;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

    }
  }

  .go-down {
    position: absolute;
    bottom: 5.6771vw;
    right: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(50%, 0);
    z-index: 2;

    &::after {
      top: calc(100% + 0.8333vw);
      width: 4.0104vw;
      height: 1.1979vw;
      right: 50%;
      transform: translate(50%, 0);
      display: inline-block;
      position: absolute;
      content: '';
      background: url("../img/arr-d.svg") no-repeat center / 100%;
    }

    p {
      font-size: 5.6771vw;
      line-height: 8.3333vw;
      font-weight: 400;
      color: #fff;

      strong {
        font-weight: 400;
        color: $blue;
        display: inline-block;
        margin-left: 3.5417vw;
        margin-right: 3.8021vw;
      }
    }
  }
}

.about-us {
  width: 100%;
  padding-top: 6.9271vw;
  padding-bottom: 7.8125vw;
  position: relative;
  overflow: hidden;

  &::before {
    position: absolute;
    z-index: 1;
    width: 31.5104vw;
    height: 31.5104vw;
    top: 8.1250vw;
    right: -6.3021vw;
    display: inline-block;
    content: '';
    background: url("../img/bg-abs2.svg") no-repeat center / 100%;
    transform: rotate(45deg);
  }

  .container {
    padding-left: 6.5625vw;
    padding-right: 8.5417vw;
    width: 100%;
    position: relative;
    z-index: 2;

  }
}

.about-us__cont {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  .img {
    margin-top: 0.8854vw;
    width: 35.2083vw;
    height: 33.0729vw;
    margin-left: 3.8542vw;
    overflow: hidden;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    span {
      font-size: 2.6042vw;
      line-height: 3.8021vw;
      font-weight: 400;
      color: $blue;
      display: inline-block;
      margin-bottom: 0.7813vw;
    }

    a {
      border: 2px solid #fff;
      padding: 0.2083vw 1.6146vw 0.4167vw;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.8229vw;
      font-weight: 300;
      line-height: 3.1250vw;
      color: #fff;
      background: rgba(255, 255, 255, 0);
      transition: color 0.3s ease, background 0.3s ease;

      &:hover {
        transition: color 0.3s ease, background-color 0.3s ease;
        background: #fff;
        color: $blue;
      }
    }

    p {
      font-size: 1.5625vw;
      line-height: 3.1250vw;
      font-weight: 300;
      color: #fff;
      margin-bottom: 1.8229vw;
    }
  }
}

.numbers {
  width: 100%;
  background: #fff;
  padding-top: 6.5625vw;
  padding-bottom: 9.4271vw;

  .container {
    width: 100%;
    padding-left: 9.3229vw;
    padding-right: 11.9792vw;
  }
}

.numbers-cont {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.single-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  &::before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 5.0000vw;
    right: calc(100% + 1.4583vw);
    background: $dark;
    width: 9.8958vw;
    height: 1px;
  }

  &:last-child {
    &::before {
      content: none;
    }
  }

  p {
    font-size: 6.7188vw;
    line-height: 9.8438vw;
    font-weight: 500;
    color: $dark;
  }

  > span {
    font-size: 2.3438vw;
    line-height: 3.4375vw;
    font-weight: 400;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17.7083vw;
    height: 4.3229vw;
    background: $dark;
  }

}

.our-specs {
  width: 100%;

  .container {
    width: 100%;
    padding: 4.7396vw 12.0313vw 5.9896vw 10.6771vw;
  }
}

.our-specs__cont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  > span {
    display: inline-block;
    text-align: center;
    margin-bottom: 4.3229vw;
    font-size: 2.6042vw;
    line-height: 3.8021vw;
    font-weight: 400;
    color: $blue;
  }
}

.our-specs__list {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.single-specs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .img {
    width: 5.5208vw;
    height: 5.5208vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.4063vw;

    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }

  p {
    font-size: 1.5625vw;
    text-align: center;
    line-height: 2.2917vw;
    font-weight: 400;
    max-width: 9.3750vw;

    color: #fff;
  }

  &:nth-child(3) {
    p {
      color: $blue;
    }
  }
}

.our-clients {
  width: 100%;
  background: #fff;
  padding: 4.7396vw 8.3333vw 9.1667vw 7.0313vw;
}

.our-clients__cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  > span {
    font-weight: 500;
    font-size: 2.6042vw;
    line-height: 1.2;
    text-align: left;
    color: $dark;
    display: inline-block;
    margin-bottom: 3.5417vw;
  }
}

.our-clients__wrap {
  width: 100%;
  position: relative;
  padding-left: 5.7813vw;
  padding-right: 5.7813vw;


}

.btns {
  .slider-btn {

    position: absolute;
    top: 50%;
    width: 2.8646vw;
    height: 2.8646vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0);
    transition: border 0.3s ease;
    left: 0;
    transform: translate(0, -50%);

    &:hover {
      border: 1px solid $dark;
      transition: border 0.3s ease;

    }

    img {
      width: 1.1979vw;
      height: 2.2917vw;
    }

    &.slider-btn--next {
      left: auto;
      right: 0;
      transform: translate(0, -50%) rotate(180deg);
    }

  }
}

.our-clients__slider {
  width: 100%;
  overflow: hidden;
  display: flex;

  .swiper-wrapper {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-shrink: 0;
  }

}

.single-client {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.2083vw;
  padding: 2px;

  img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    //object-fit: contain;
    transition: filter 0.3s ease;
    filter: grayscale(1);
  }

  &:hover {
    img {
      transition: filter 0.3s ease;
      filter: grayscale(0);
    }
  }
}

.footer {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer-top {
  width: 100%;
  padding: 4.1667vw 10.4688vw 5.5729vw 13.9583vw;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.footer-logo {
  height: 15.2083vw;
  width: 26.3021vw;
  border-left: 2px solid #fff;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 4.3229vw;
  margin-left: 0.3125vw;

  a {
    display: flex;
    width: 15.3125vw;
    height: 8.4375vw;
  }

  img {
    display: flex;
    width: 100%;
    height: 100%;
  }

}

.footer-column {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 7.3438vw;

  &:nth-child(2) {
    width: 24.8958vw;
    border-left: 2px solid #fff;
  }
}

.footer-raw {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  p, a {
    font-weight: normal;
    font-size: 1.5625vw;
    line-height: 3.1250vw;
    text-align: right;
    color: #fff;
  }

  a {
    &:hover {
      color: $blue;
      text-decoration: underline;
    }
  }

  ul {
    li {
      a {
        font-weight: normal;
        font-size: 1.5625vw;
        line-height: 3.1250vw;
        text-align: right;
        color: #fff;

        &:hover {
          color: $blue;
          text-decoration: underline;
        }
      }
    }
  }
}

.footer-bottom {
  width: 100%;
  background: #fff;
  border-top: 0.2604vw solid #57aaff;
  padding: 0.3646vw 0.7813vw 0.2604vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;

  p {
    padding-right: 1.0417vw;
    margin-right: 1.2500vw;
    position: relative;


    &::after {
      width: 1px;
      height: 1.0417vw;
      background: #000000;
      display: inline-block;
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
    }

    &:last-child {
      padding-right: 0;
      margin-right: 0;

      &::after {
        content: none;
      }
    }
  }

  p, a {
    font-weight: normal;
    font-size: 0.9896vw;
    line-height: 2.6042vw;
    text-align: left;
    color: #000;

  }

  a {
    text-decoration: underline;
  }
}

.desk {
  display: flex;
}

.mob {
  display: none;
}

@media screen and (max-width: 767px) {
  .footer-bottom {
    padding: 0;
    border-top: 3px solid $blue;
    a, p {
      font-size: 2.3256vw;
      line-height: 6.2791vw;
    }
    p {
      margin-right: 1.3953vw;
      padding-right: 1.3953vw;
      &::after {
        height: 2.5581vw;
      }
    }
  }
  .footer-top {
    padding: 13.7209vw 12.0930vw 12.0930vw 16.0465vw;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

  }
  .footer-logo {
    width: 68.3721vw;
    height: 37.6744vw;
    border: none;
    margin: 0;
    a, img {
      width: 100%;
      height: 100%;
    }
    margin-right: 3.4884vw;
  }
  .footer-column {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    &:nth-child(2) {
      border-left: none;
      width: 100%;
      max-width: 67.9070vw;
      margin-top: -4.8837vw;
      margin-bottom: 9.0698vw;
      padding-bottom: 8.1395vw;
      border-bottom: 2px solid #fff;
    }
  }
  .footer-raw {
    width: 100%;
    p, a {
      font-size: 5.8140vw;
      line-height: 11.6279vw;
    }
    ul {
      li {
         a {
           font-size: 5.8140vw;
           line-height: 11.6279vw;
         }
      }
    }
  }


  .our-clients {
    padding: 10.4651vw 4.6512vw 17.6744vw;
  }
  .our-clients__wrap {
    .btns {
      display: none;
    }
  }
  .our-clients__cont {
    > span {
      font-size: 9.7674vw;
      line-height: 14.4186vw;
      margin-bottom: 4.1860vw;
    }
  }
  .single-client {
    height: 37.2093vw;
  }


  .our-specs .container {
    padding: 9.7674vw 11.1628vw 12.0930vw;
  }

  .our-specs__cont {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    > span {
      margin-bottom: 9.0698vw;
      font-size: 9.7674vw;
      line-height: 14.4186vw;
    }
  }
  .our-specs__list {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .single-specs {
    width: 100%;
    margin-bottom: 16.7442vw;
    &:last-child {
      margin-bottom: 0;
    }
    .img {
      width: auto;
      height: auto;
      margin-bottom: 1.8605vw;
    }
    p {
      font-size: 6.9767vw;
      line-height: 10.2326vw;
      max-width: 41.8605vw;
    }
  }



  .numbers-cont {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .single-number {
    width: 100%;
    margin-bottom: 36.2791vw;

    &::before {
      width: 3px;
      height: 23.9535vw;
      top: calc(100% + 8.3721vw);
      left: 50%;
      right: auto;
      transform: translate(-50%, 0);
    }

    &:last-child {
      margin-bottom: 0;
    }

    > span {
      width: 100%;
      height: 17.9070vw;
      font-size: 9.7674vw;
      line-height: 14.4186vw;
    }

    p {
      font-size: 23.2558vw;
      line-height: 34.1860vw;
      margin-bottom: 0;
    }
  }

  .numbers {
    padding-top: 9.3023vw;
    padding-bottom: 17.9070vw;

    .container {
      padding-left: 9.0698vw;
      padding-right: 10.6977vw;
    }
  }

  .about-us__cont {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      span {
        font-size: 9.7674vw;
        line-height: 14.4186vw;
        margin-bottom: 2.7907vw;
      }

      p {
        font-size: 5.8140vw;
        line-height: 11.6279vw;
        margin-bottom: 1.1628vw;
        text-align: center;

        br {
          display: none;
        }
      }

      a {
        width: 32.5581vw;
        height: 11.6279vw;
        margin-top: 0;
        font-size: 5.8140vw;
        line-height: 10.6977vw;
        font-weight: 300;
      }
    }
  }
  .about-us__cont .img {
    width: 100%;
    height: 79.3023vw;
    margin-bottom: 22.0930vw;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .about-us {
    padding-top: 8.6047vw;
    padding-bottom: 12.7907vw;

    .container {
      padding-left: 7.9070vw;
      padding-right: 7.6744vw;
    }
  }


  .home-hero {
    height: 195.3488vw;

    .go-down {
      bottom: 18.1395vw;

      &::after {
        width: 17.9070vw;
        height: 5.5814vw;
        top: calc(100% + 3.9535vw);
      }

      p {
        font-size: 9.7674vw;
        line-height: 14.4186vw;
      }

      strong {
        margin-left: 3.9535vw;
        margin-right: 3.9535vw;
      }
    }
  }


  .desk {
    display: none;
  }
  .mob {
    display: flex;
  }
  .header {
    height: 20.9302vw;
    position: relative;
  }
  .header .container {
    padding: 3.4884vw 7.4419vw 3.4884vw 6.0465vw;
  }
  .header-cont {
    padding-top: 3.0233vw;
    position: static;

    .logo {
      top: 3.4884vw;
      left: 6.0465vw;
      width: 38.6047vw;
      height: 21.3953vw;
    }
  }
  .burger {
    display: flex;
    width: 6.9767vw;
    height: 5.5814vw;
    position: relative;

    span {
      display: inline-block;
      width: 100%;
      height: 2px;
      background: #fff;
      position: absolute;
      left: 0;
      top: 0;
      transition: top 0.3s ease, left 0.3s ease, transform 0.3s ease;

      &:nth-child(2) {
        top: 50%;
        transform: translate(0, -50%);
      }

      &:nth-child(3) {
        bottom: 0;
        top: auto;

      }
    }

    &.active {
      span {
        &:nth-child(1) {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }

        &:nth-child(2), &:nth-child(3) {
          top: 50%;
          left: 50%;
          bottom: auto;
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }
  }
  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: rgba(9, 36, 79, 0.9);
    transform: translate(0, -120%);
    transition: transform 0.5s ease-in-out;

    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      li {
        width: 100%;
        margin: 0;
        border-bottom: 1px solid rgba(87, 170, 255, 0.12);

        &:last-child {
          border-bottom: none;
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 22.3256vw;
          width: 100%;
          font-size: 9.3023vw;
          line-height: 13.7209vw;
        }
      }
    }

  }
  .header-menu {
    &.out {
      .menu {
        transform: translate(0, 0);
      }
    }
  }
}