.header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  background: $dark;
  z-index: 100;

  .container {
    width: 100%;
    padding-left: 3.5938vw;
    padding-right: 4.7917vw;
    padding-top: 1.1458vw;
    padding-bottom: 1.8750vw;
  }

}

.header-cont {
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 0.7813vw;

  .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 12.0833vw;
    height: 6.6667vw;

    a, img {
      width: 100%;
      height: 100%;
      display: flex;
    }
  }
}

.header-menu {

}

.burger {
  display: none;
}

.menu {
  width: 100%;
  display: flex;
  align-items: center;

  ul {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    li {
      margin-left: 5.9896vw;
      display: flex;

      &:last-child {
        margin-left: 0;
      }

      &:first-child {
        margin-left: 4.9479vw;
      }

      a {
        font-weight: 400;
        font-size: 2.0833vw;
        line-height: 3.0729vw;
        color: #fff;

        &:hover, &.active {
          color: #57AAFF;
        }
      }

      &.current-menu-item {
        a {
          color: #57AAFF;
        }
      }
    }
  }
}

main {

}

.home-hero {
  width: 100%;
  margin-top: -6.8750vw;
  overflow: hidden;
  height: 56.3542vw;
  position: relative;

  .img {
    width: 100%;
    height: 100%;
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: inline-block;
      content: '';

      background: linear-gradient(to top, #09244f 0%, rgba(1, 15, 54, 0.06) 100%);
      opacity: 0.34;
      z-index: 2;
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: inline-block;
      content: '';
      z-index: 2;
      background: linear-gradient(to top, #09244f 0%, rgba(1, 15, 54, 0.06) 100%);
      opacity: 1;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

    }
  }

  .go-down {
    position: absolute;
    bottom: 5.6771vw;
    right: 47.9%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(50%, 0);
    z-index: 2;

    &::after {
      top: calc(100% + 0.8333vw);
      width: 4.0104vw;
      height: 1.1979vw;
      right: 50%;
      transform: translate(50%, 0);
      display: inline-block;
      position: absolute;
      content: '';
      background: url("../img/arr-d.svg") no-repeat center / 100%;
    }

    p {
      font-size: 5.6771vw;
      line-height: 8.3333vw;
      font-weight: 400;
      color: #fff;

      strong {
        font-weight: 400;
        color: $blue;
        display: inline-block;
        margin-left: 3.5417vw;
        margin-right: 3.8021vw;
      }
    }
  }
}

.about-us {
  width: 100%;
  padding-top: 6.9271vw;
  padding-bottom: 7.8125vw;
  position: relative;
  overflow: hidden;

  &::before {
    position: absolute;
    z-index: 1;
    width: 31.5104vw;
    height: 31.5104vw;
    top: 8.1250vw;
    right: -6.3021vw;
    display: inline-block;
    content: '';
    background: url("../img/bg-abs2.svg") no-repeat center / 100%;
    transform: rotate(45deg);
  }

  .container {
    padding-left: 6.5625vw;
    padding-right: 8.5417vw;
    width: 100%;
    position: relative;
    z-index: 2;

  }
}

.about-us__cont {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  .img {
    margin-top: 0.8854vw;
    width: 35.2083vw;
    height: 33.0729vw;
    margin-left: 3.8542vw;
    overflow: hidden;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    span {
      font-size: 2.6042vw;
      line-height: 3.8021vw;
      font-weight: 400;
      color: $blue;
      display: inline-block;
      margin-bottom: 0.2813vw;
    }

    a {
      width: 9.1667vw;
      height: 3.3333vw;
      border: 2px solid #fff;
      padding: 0.2083vw ;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.8229vw;
      font-weight: 300;
      line-height: 3.1250vw;
      color: #fff;
      background: rgba(255, 255, 255, 0);
      transition: color 0.3s ease, background 0.3s ease;

      &:hover {
        transition: color 0.3s ease, background-color 0.3s ease;
        background: #fff;
        color: $blue;
      }
    }

    p {
      font-size: 1.5625vw;
      line-height: 3.1250vw;
      font-weight: 300;
      color: #fff;
      margin-bottom: 1.4729vw;
    }
  }
}


.numbers {
  width: 100%;
  background: #fff;
  padding-top: 6.5625vw;
  padding-bottom: 9.4271vw;

  .container {
    width: 100%;
    padding-left: 9.3229vw;
    padding-right: 11.9792vw;
  }
}

.numbers-cont {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.single-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  &::before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 4.0000vw;
    right: calc(100% + 1.4583vw);
    background: $dark;
    width: 9.8958vw;
    height: 1px;
  }

  &:last-child {
    &::before {
      content: none;
    }
  }

  p {
    font-size: 6.7188vw;
    line-height: 7.8438vw;
    font-weight: 500;
    color: $dark;
  }

  > span {
    font-size: 2.3438vw;
    line-height: 3.4375vw;
    font-weight: 400;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17.7083vw;
    height: 4.3229vw;
    background: $dark;
  }

}

.our-specs {
  width: 100%;

  .container {
    width: 100%;
    padding: 4.7396vw 12.0313vw 5.9896vw 7.6771vw;
  }
}

.our-specs__cont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  > span {
    display: inline-block;
    text-align: center;
    margin-bottom: 4.3229vw;
    font-size: 2.6042vw;
    line-height: 3.8021vw;
    font-weight: 400;
    color: $blue;
  }
}

.our-specs__list {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.single-specs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .img {
    width: 5.5208vw;
    height: 5.5208vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.063vw;

    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }

  p {
    font-size: 1.5625vw;
    text-align: center;
    line-height: 2.2917vw;
    font-weight: 400;
    max-width: 9.3750vw;

    color: #fff;
  }

  &:nth-child(3) {
    p {
      color: $blue;
    }
  }
}

.our-clients {
  width: 100%;
  background: #fff;
  padding: 5.0396vw 8.3333vw 9.2667vw 7.0313vw;
}

.our-clients__cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  > span {
    font-weight: 500;
    font-size: 2.6042vw;
    line-height: 1.2;
    text-align: left;
    color: $dark;
    display: inline-block;
    margin-bottom:4.7417vw;
    margin-left: 0.8vw;
  }
}

.our-clients__wrap {
  width: 100%;
  position: relative;
  padding-left: 5.7813vw;
  padding-right: 5.7813vw;


}

.btns {
  .slider-btn {

    position: absolute;
    top: 50%;
    width: 2.8646vw;
    height: 2.8646vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0);
    transition: border 0.3s ease;
    left: -0.9vw;
    transform: translate(0, -50%);

    &:hover {
      border: 1px solid $dark;
      transition: border 0.3s ease;

    }

    img {
      width: 1.1979vw;
      height: 2.2917vw;
    }

    &.slider-btn--next {
      left: auto;
      right: -0.9vw;
      transform: translate(0, -50%) rotate(180deg);
    }

  }
}

.our-clients__slider {
  width: 100%;
  overflow: hidden;
  display: flex;

  .swiper-wrapper {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-shrink: 0;
  }

}

.single-client {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.2083vw;
  padding: 2px;

  img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    //object-fit: contain;
    transition: filter 0.3s ease;
    filter: grayscale(1);
  }

  &:hover {
    img {
      transition: filter 0.3s ease;
      filter: grayscale(0);
    }
  }
}

.footer {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer-top {
  width: 100%;
  padding: 4.1667vw 10.4688vw 5.5729vw 12.9583vw;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.footer-logo {
  height: 15.2083vw;
  width: 26.3021vw;
  border-left: 2px solid #fff;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 4.3229vw;
  margin-left: 0.3125vw;

  a {
    display: flex;
    width: 15.3125vw;
    height: 8.4375vw;
  }

  img {
    display: flex;
    width: 100%;
    height: 100%;
  }

}

.footer-column {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 7.3438vw;

  &:nth-child(2) {
    width: 24.5958vw;
    border-left: 2px solid #fff;
  }
}

.footer-raw {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  p, a {
    font-family: $third-font;
    font-weight: normal;
    font-size: 1.5625vw;
    line-height: 3.1250vw;
    text-align: right;
    color: #fff;
  }

  a {
    &:hover {
      color: $blue;
      text-decoration: underline;
    }
  }

  ul {
    li {
      a {
        font-weight: normal;
        font-size: 1.5625vw;
        line-height: 3.1250vw;
        text-align: right;
        color: #fff;

        &:hover {
          color: $blue;
          text-decoration: underline;
        }
      }
    }
  }
}

.footer-bottom {
  width: 100%;
  background: #fff;
  border-top: 0.2604vw solid #57aaff;
  padding: .3646vw 3.813vw 1.2604vw .7813vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;

  p {
    padding-right: 1.0417vw;
    margin-right: 1.2500vw;
    position: relative;


    &::after {
      width: 1px;
      height: 1.0417vw;
      background: #000000;
      display: inline-block;
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
    }

    &:last-child {
      padding-right: 0;
      margin-right: 0;

      &::after {
        content: none;
      }
    }
  }

  p, a {
    font-family: $second-font;
    font-weight: normal;
    font-size: 0.9896vw;
    line-height: 1;
    text-align: left;
    color: #000;

  }

  a {
    //text-decoration: underline;
    padding-bottom: 0.25vw;
    border-bottom: 1px solid #000;
  }
}

.desk {
  display: flex;
}

.mob {
  display: none;
}

.sec-hero {
  width: 100%;
  height: 41.8229vw;
  overflow: hidden;

  .img {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}


.who-we-are {
  width: 100%;
  position: relative;
  overflow: hidden;

  &::before {
    position: absolute;
    z-index: 1;
    width: 31.5104vw;
    height: 31.5104vw;
    top: 9.7396vw;
    right: 9.1146vw;
    display: inline-block;
    content: '';
    background: url("../img/bg-abs2.svg") no-repeat center / 100%;
    transform: rotate(45deg);
  }

  .container {
    padding: 2.0313vw 14.2708vw 6.7792vw;
    width: 100%;
    position: relative;
    z-index: 2;
  }
}

.who-we-are__cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  span {
    margin-bottom: 1.8833vw;
    font-style: normal;
    font-size: 2.6042vw;
    line-height: 3.8021vw;
    font-weight: normal;
    color: $blue;
  }

  .text {
    width: 100%;

    p {
      font-size: 1.8229vw;
      line-height: 3.1250vw;
      font-weight: 300;
      font-style: normal;
      color: #fff;
      text-align: center;
    }
  }
}

.our-rules {
  width: 100%;
  display: flex;

}

.our-rules__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.single-rule {
  width: 100%;
  height: 23.8542vw;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  background: #E6E6E6;

  .text {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.0417vw;

    p {
      font-size: 3.6458vw;
      line-height: 5.3125vw;
      font-weight: normal;
      font-style: normal;
      color: $dark;
      transition: color 0.3s ease;
    }
  }

  &:hover {
    .text {
      p {
        transition: color 0.3s ease;
        color: $blue;
      }
    }
  }

  .img {
    width: 50%;
    overflow: hidden;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &:nth-child(even) {
    flex-direction: row;
  }
}

.our-rules-text {
  width: 100%;
  padding: 8.375vw 15.2083vw 13.1375vw 15.4167vw;
  background: #fff;
  position: relative;

  &::after {
    height: 11.4063vw;
    width: 3px;
    background: $dark;
    display: inline-block;
    content: '';
    position: absolute;
    right: 50%;
    bottom: 0;
    transform: translate(50%, 0);
  }

  p {
    text-align: center;
    font-weight: 300;
    font-style: normal;
    font-size: 1.8229vw;
    line-height: 3.1250vw;
    color: $dark;
  }
}

.our-rules-text__sec {
  width: 100%;
  position: relative;
  padding: 11.1417vw 1.0417vw 7.5563vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  &::before {
    width: 3px;
    height: 9.5833vw;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%, 0);
    background: #fff;
    display: inline-block;
    content: '';
  }

  span {
    display: inline-block;
    margin-bottom: 0.6854vw;
    font-size: 2.6042vw;
    line-height: 3.8021vw;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    color: $blue;
  }

  p {
    max-width: 62.1458vw;
    font-weight: 300;
    font-size: 1.8229vw;
    line-height: 3.1250vw;
    font-style: normal;
    color: #fff;
    text-align: center;
  }
}

.our-infos {
  width: 100%;
  background: #fff;
  padding: 9.8479vw 9.4271vw 10.0646vw 8.4979vw;
}

.our-infos__list {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 8.7792vw;
  column-gap: 6.7708vw;

}

.our-infos__single {
  width: calc((100% / 3) - (13.5417vw / 3));
  border-top: 1px solid $dark;
  padding-top: 1.4375vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  .head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 1.0417vw;

    span {
      font-size: 2.6042vw;
      line-height: 2.0833vw;
      font-weight: normal;
      font-style: normal;
      color: $dark;
      margin-right: 0.34vw;
    }

    p {
      font-weight: 300;
      font-style: normal;
      font-size: 1.0417vw;
      line-height: 1.5625vw;
      max-width: 16.0938vw;
      margin-top: 0.8vw;
      margin-right: 0.36vw;
    }
  }

  .btn-infos {
    font-size: 1.2500vw;
    line-height: 2.1354vw;
    font-weight: normal;
    height: 2.3438vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6.4583vw;
    border: 1px solid $dark;
    color: $dark;
    background: #fff;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
    margin-right: 0.3vw;

    &:hover {
      background: $dark;
      color: #fff;
    }
  }

  .text {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    a {
      width: 2.2917vw;
      height: 2.2917vw;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $blue;
      border: 1px solid $dark;
      transition: background-color 0.3s ease;

      img {
        transform: rotate(180deg);
        width: 0.4688vw;
        height: 0.8854vw;
        transition: filter 0.3s ease;
      }

      &:hover {
        background: $dark;
        transition: background-color 0.3s ease;

        img {
          filter: brightness(0) invert(1);
          transition: filter 0.3s ease;

        }
      }
    }

    p {
      font-family: $fourth-font;
      max-width: 20.6250vw;
      font-size: 1.0417vw;
      line-height: 2.0833vw;
      font-weight: 300;
      font-style: normal;
      color: $dark;
      margin-bottom: 1.6667vw;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.open {
    .btn-infos {
      display: none;
    }

    .text {
      display: flex;
    }
  }
}


.hero-default {
  width: 100%;
  height: 43.7500vw;
  position: relative;

  &::before {
    position: absolute;
    z-index: 2;
    width: 100%;
    bottom: 0;
    left: 0;
    display: inline-block;
    content: '';
    height: 37.4479vw;
    background: linear-gradient(to top, #09244f 0%, rgba(2, 17, 61, 0) 100%);
    opacity: 0.55;
  }


  .img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    position: relative;

    &::after {
      z-index: 1;
      background: linear-gradient(to top, #09244f 0%, rgba(2, 17, 61, 0) 100%);
      opacity: 0.66;
      display: inline-block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &::before {
      z-index: 2;
      background: linear-gradient(to top, #09244f 0%, rgba(2, 17, 61, 0) 100%);
      opacity: 0.86;
      display: inline-block;
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 35.4688vw;


    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }


  }
}

.our-knowledge {
  width: 100%;
  background: #E6E6E6;
}

.knowledge-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.single-knowledge {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row-reverse;
  height: 32.6042vw;

  .img {
    width: 50%;
    height: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .text {
    width: 50%;
    height: 100%;
    display: flex;
    padding: .7813vw 7.0917vw .7813vw .7813vw;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    span {
      font-size: 2.3438vw;
      line-height: 3.4375vw;
      font-weight: normal;
      font-style: normal;
      color: $dark;
      margin-bottom: 0.3208vw;
      display: inline-block;
    }

    ul {
      li {
        position: relative;

        &::before {
          width: 0.7813vw;
          height: 0.7813vw;
          left: calc(100% + 0.8854vw);
          transform: rotate(45deg);
          display: inline-block;
          content: '';
          position: absolute;
          top: 1.1979vw;
          background: url("../img/ulli.svg") no-repeat center / 100%;
        }

        font-size: 1.8229vw;
        line-height: 3.1250vw;
        font-weight: 300;
        font-style: normal;
        color: $dark;
      }
    }
  }

  &:nth-child(even) {
    flex-direction: row;
  }
}

.her-down {
  position: absolute;
  right: 50%;
  bottom: 7.2917vw;
  z-index: 4;
  cursor: pointer;
  transform: translate(50%, 0);
  font-size: 2.6042vw;
  line-height: 3.8021vw;
  font-weight: normal;
  color: $blue;

  &::after {
    height: 1.1979vw;
    width: 4.0104vw;
    top: calc(100% + 2.2396vw);
    left: 50%;
    transform: translate(-50%, 0);
    display: inline-block;
    content: '';
    position: absolute;
    background: url("../img/arr-d.svg") no-repeat center / 100%;
  }
}

.our-blog {
  background: #fff;
  width: 100%;
  padding: 3.9063vw 7.8646vw 7.8667vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  > span {
    margin-bottom: 2.5521vw;
    display: inline-block;
    font-size: 2.6042vw;
    line-height: 3.8021vw;
    font-weight: normal;
    color: $dark;
    text-align: center;
  }
}

.blog-list {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2.9688vw;
}

.single-blog {
  width: calc((100% / 3) - ((2.9688vw * 2) / 3));
  position: relative;
  height: 28.5417vw;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;

  &:nth-child(1) {
    width: calc((((100% / 3) - ((2.9688vw * 2) / 3)) * 2) + 2.9688vw);
  }

  .img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .text {
    margin-top: auto;
    width: 100%;
    height: 10.2083vw;
    background: rgba(9, 36, 79, 0.59);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: .8333vw 2.233vw;
    position: relative;
    z-index: 2;

    span {
      font-size: 3.6458vw;
      line-height: 5.4688vw;
      font-weight: normal;
      color: #fff;
      margin-bottom: 1px;
    }

    p {
      font-size: 1.8229vw;
      line-height: 3.1250vw;
      font-weight: 300;
      font-style: normal;
      color: #fff;
    }
  }
}

.second-our-blog {
  width: 100%;
  padding: 4.1667vw 8.0208vw 7.8646vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #E6E6E6;
  > span {
    margin-bottom: 2.5521vw;
    display: inline-block;
    font-size: 2.6042vw;
    line-height: 3.8021vw;
    font-weight: normal;
    color: $dark;
    text-align: center;
    margin-right: 1vw;
  }
  .single-blog {
    &:nth-child(1) {
      width: calc((100% / 3) - ((2.9688vw * 2) / 3));
    }
  }
}

.article-hero {
  width: 100%;
  height: 28.6979vw;
  position: relative;


  .img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    &::after {
      position: absolute;
      left: 0;
      width: 100%;
      bottom: 0;
      height: 100%;
      display: inline-block;
      content: '';
      background: linear-gradient(to top, #09244f 0%, rgba(2, 17, 61, 0) 100%);

    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.article-hero__info {
  position: absolute;
  right: 50%;
  bottom: 1.7833vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 2;
  transform: translate(50%, 0);
  h1 {
    font-size: 4.2188vw;
    line-height: 6.3542vw;
    font-weight: normal;
    font-style: normal;
    color: $blue;
    margin-bottom: -0.8vw;
  }
  p:not(.time) {
    font-size: 1.8750vw;
    line-height: 3.6458vw;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    margin-bottom: -0.1vw;
  }
  p.time {
    font-weight: 200;
    font-size: 1.4063vw;
    line-height: 2.7083vw;
    color: #fff;
    position: relative;
    margin-right: 0.4vw;
    display: flex;
    align-items: center;
    &::before {
      margin-left: 0.6250vw;
      width: 1.2979vw;
      height: 1.2979vw;
      display: inline-block;
      content: '';
      background: url("../img/clock.svg") no-repeat center / 100%;
    }
  }
}

.article-block {
  width: 100%;
  background: #fff;
  padding: 3.7500vw 6.0938vw 6.9792vw 5.2604vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  .container {
    display: block;
    width: 100%;
    h1, h2, h3, h4, h5, h6 {
      font-weight: normal;
      font-size: 2.3438vw;
      line-height: 3.4375vw;
      color: $dark;
      margin-bottom: 1.063vw;

    }
    p {
      font-weight: 300;
      font-size: 1.8229vw;
      line-height: 3.1250vw;
      color: $dark;
      margin-bottom: 3.4475vw;

    }
    img {
      width: auto;
      height: auto;
      &.alignRight {
        float: right;
        margin-left: 3.5938vw;
        margin-bottom: 2.1875vw;
      }
      &.alignLeft {
        float: left;
        margin-right: 3.5938vw;
        margin-bottom: 2.1875vw;

      }
    }
  }
}

.article-bottom {
  width: 100%;
  margin-top: 1.1979vw;
  border-top: 2px solid $dark;

  padding-top: 3.521vw;
  p {
    font-weight: 300;
    font-size: 1.8229vw;
    line-height: 3.1250vw;
    color: $dark;
    margin-bottom: 2.1875vw;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 3.0729vw;
    li {
      margin-left: 4.3750vw;
      max-width: 3.0208vw;
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: auto;
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}

@media screen and (min-width: 767px) {
  .article-bottom p {
    width: 94%;
  }
  .single-blog {
    .text {
      p {
        margin-top: -1vw;
      }
    }
  }
  .our-blog {
    > span {
      margin-right: 3vw;
    }
  }
  .single-knowledge {
    &:nth-child(1) {
      .text {
        padding-top: 0.5vw  ;
      }
    }
    &:nth-child(2) {
      .text {
        padding: .7813vw 7.817vw .7813vw .7813vw;
      }
    }
    &:nth-child(4) {
      .text {
        padding-bottom: 6.87vw;
        padding-right: 7.8vw;
      }
    }
    &:nth-child(5) {
      .text {
        padding-top: 1vw;
        padding-right: 7.6vw;
      }
    }
  }
  .her-down {
    padding-right: 0.5vw;

  }
  .our-rules-text__sec span {
    margin-right: 0.8vw;
  }
  .single-rule .text p {
    margin-right: 1.5vw;
  }
  .single-client {
    padding: 0.7vw;
  }
  .about-us__cont .text a {
    margin-right: 0.3vw;
  }
  .single-number {
    margin-top: 1vw;
  }
  .our-specs__cont>span {
    margin-left: 4.3vw;
  }
  .our-specs__list {
    justify-content: flex-start;
  }
  .single-specs {
    &:nth-child(2) {
      margin-right: 8vw;
      .img {
        img {
          margin-top: 1.5vw;
          margin-right: 0.3vw;
        }
      }
    }
    &:nth-child(3) {
      margin-right: 8.7vw;
      .img {
        img {
          margin-top: 1.2vw;
        }
      }
    }
    &:nth-child(4) {
      margin-right: 11vw;
      .img {
        img {
          margin-top: 2.2vw;
        }
      }
    }
    &:nth-child(5) {
      margin-right: 7.6vw;
      .img {
        img {
          margin-top: 1.2vw;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .article-hero {
    height: 195.9767vw;
  }
  .article-hero__info {
    bottom: 10.45279vw;
    width: 90%;
    h1 {
      font-size: 9.7674vw;
      line-height: 1.1;
      margin-bottom: 5vw;
    }
    p:not(.time) {
      font-size: 5.8140vw;
      line-height: 1.1;
      margin-bottom: 5vw;
      margin-left: 0.4vw;
    }
    p.time {
      font-size: 4.6512vw;
      line-height: 1.3;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-right: -2vw;
      &::before {
        margin-left: 2.3581vw;
        width: 4.2535vw;
        height: 4.2535vw;
        margin-top: 0.3vw;
      }
    }
  }

  .article-block {
    width: 100%;
    padding: 9.7674vw 6.2791vw 18.3721vw 6.5116vw;
    .container {
      h1, h2, h3, h4, h5, h6 {
        font-size: 9.7674vw;
        line-height: 14.4186vw;
        margin-bottom: 2.0884vw;
      }
      p {
        width: 100%;
        font-size: 5.8140vw;
        line-height: 11.6279vw;
        margin-bottom: 5.5814vw;
      }
      img {
        width: 100% !important;
        height: auto !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-bottom: 7.2093vw !important;
      }
    }
  }
  .article-bottom ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10.0000vw;
    li {
      max-width: 6.9767vw;
      max-height: 6.9767vw;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      a, a img {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
      }
      a {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 6.9767vw;
          object-fit: contain;
          max-height: none;
          max-width: none;
        }
      }
    }
  }

  .article-bottom {
    margin-top: 5.5814vw;
    padding-top: 9.7674vw;
    p {
      width: 100%;
      font-size: 5.8140vw;
      line-height: 11.6279vw;
      margin-bottom: 2.7907vw;
    }
  }



  .our-blog, .second-our-blog {
    > span {
      font-size: 9.7674vw;
      line-height: 11.6279vw;
      margin-bottom: 1.6279vw;
      font-weight: normal;
    }

  }
  .our-blog {
    > span {
      margin-left: 4.3vw;
      margin-bottom: 3vw;
    }
  }
  .our-blog {
    padding: 9.7721vw 5.1163vw 3.686vw 6.0465vw;
  }
  .second-our-blog {
    padding: 6.8714vw 5.1163vw 10.9302vw 6.0465vw;
    > span {
      margin-right: 0;
      margin-left: 3.5vw;
      letter-spacing: -0.02em;
      margin-bottom: 6.8vw;
    }
    .blog-list {
      gap: 6.5116vw;
    }
    .single-blog {
      height: 97.6093vw;
      .text {
        padding-top: 2vw;
        p {
          margin-top: -0.9vw;
          margin-right: 0.5vw;
        }
      }
    }
  }
  .blog-list {
    gap: 7.2093vw;
  }
  .single-blog {
    width: 100% !important;
    height: 92.3256vw;
    .text {
      height: 20.0000vw;
      padding: 1.6vw 4.186vw;
      span {
        font-size: 9.3023vw;
        line-height: 1.1;
        font-weight: normal;
      }
      p {
        font-size: 3.4884vw;
        line-height: 1.1;
        font-weight: 300;
        margin-top: -0.3vw;
        margin-right: 0.3vw;
      }
    }
  }



  .her-down {
    width: 67.4419vw;
    font-size: 9.7674vw;
    line-height: 11.6279vw;
    bottom: 19.0698vw;
    text-align: center;
    padding-bottom: 1vw;
    padding-left: 0.5vw;

    &::after {
      top: calc(100% + 3.9535vw);
      width: 17.9070vw;
      height: 5.3488vw;
    }
  }

  .our-knowledge {
    padding: 6.5116vw 5.814vw 8.3023vw 6.9767vw;
  }
  .single-knowledge {
    margin-bottom: 9.3023vw;
    height: auto;
    flex-direction: column !important;
    align-items: flex-start;
    justify-content: flex-start;

    .img {
      width: 100%;
      height: 64.6512vw;
    }

    .text {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 0;

      span {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 17.9070vw;
        background: $dark;
        margin-bottom: 4.791vw;
        font-size: 6.9767vw;
        line-height: 10.2326vw;
        font-weight: normal;
        color: #fff;
      }

      ul {
        padding-right: 8.8372vw;
        width: 100%;

        li {
          font-size: 4.6512vw;
          line-height: 9.3023vw;
          font-weight: 300;
          br {
            display: none;
          }

          &::before {
            width: 3.4884vw;
            height: 3.4884vw;
            left: calc(100% + 4.1vw);
            top: 3.0884vw;
          }
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
    &:nth-child(2) {
      .text {
        span {
          margin-bottom: 6.0vw;
        }
      }
    }
    &:nth-child(4) {
      .text {
        span {
          margin-bottom: 6.1vw;
        }
      }
    }
    &:nth-child(5) {
      .text {
        span {
          margin-bottom: 4.2vw;
        }
      }
    }
  }

  .hero-default {
    height: 196.0465vw;

    &::before {
      z-index: 2;
      height: 186.5116vw;
      background: linear-gradient(to top, #09244f 0%, rgba(1, 15, 54, 0) 100%);
      opacity: 0.98;

    }

    .img {
      &::before {
        z-index: 2;
        content: none;
      }

      &::after {
        z-index: 1;
        content: none;

      }
    }
  }


  .our-infos {
    padding: 10.6977vw 8.6047vw 16.3488vw;
  }
  .our-infos__list {
    gap: 18.721vw;
  }
  .our-infos__single {
    width: 100%;
    padding-top: 3.0233vw;

    .btn-infos {
      width: 28.8372vw;
      height: 10.4651vw;
      font-size: 5.8140vw;
      line-height: 9.5349vw;
      margin-top: 1.2vw;
    }

    .text {
      width: calc(100% + 2.5581vw);
      max-width: calc(100% + 2.5581vw);

      p {
        font-size: 4.6512vw;
        line-height: 9.3023vw;
        max-width: 100%;
        width: 100%;
        margin-bottom: 0;
      }

      a {
        width: 10.2326vw;
        height: 10.2326vw;
        margin-top: 13.7209vw;

        img {
          width: 2.0930vw;
          height: 3.9535vw;
        }
      }
    }

    .head {
      margin-bottom: 1.6279vw;

      span {
        font-size: 11.6279vw;
        line-height: 11.6279vw;
        display: inline-block;
        max-width: 63.2558vw;
      }

      p {
        font-size: 4.6512vw;
        line-height: 9.3023vw;
        max-width: 71.1628vw;
      }
    }
  }


  .our-rules-text {
    padding: 6.8721vw 8.8372vw 25.7vw 9.0698vw;

    p {
      font-size: 5.8140vw;
      line-height: 11.6279vw;
      font-weight: 300;
    }

    &::after {
      height: 21.8605vw;
    }
  }
  .our-rules-text__sec {
    padding: 27.4419vw 10vw 12.8372vw;

    &::before {
      height: 23.4884vw;
    }

    > span {
      font-size: 9.7674vw;
      line-height: 14.4186vw;
      margin-bottom: 3.7442vw;
    }

    p {
      font-size: 5.8140vw;
      line-height: 13.9535vw;
      max-width: 100%;
    }
  }


  .our-rules {
    padding: 6.2791vw 6.2791vw 7.5744vw 6.5116vw;
    background: #E6E6E6;
  }
  .single-rule {
    height: auto;
    margin-bottom: 7.9070vw;
    flex-direction: column !important;
    align-items: flex-start;
    justify-content: flex-start;

    .img {
      width: 100%;
      height: 64.6512vw;
    }

    .text {
      width: 100%;
      height: 17.9070vw;
      background: $dark;
      padding: 0;

      p {
        font-size: 6.9767vw;
        line-height: 10.2326vw;
        font-weight: normal;
        color: #fff;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }


  .who-we-are .container {
    padding: 9.7674vw 6.2791vw 12.5581vw 6.5116vw;
  }
  .btn-txt {
    width: 32.5581vw;
    height: 11.6279vw;
    font-size: 5.8140vw;
    line-height: 10.6977vw;
    font-weight: 300;
    border: 2px solid #fff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .who-we-are__cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    > span {
      margin-bottom: 2.209vw;
      font-size: 9.7674vw;
      line-height: 14.4186vw;
      margin-left: 0.8vw;

    }

    .btn-txt {
      margin-top: 7.2791vw;
      margin-left: auto;
      margin-right: auto;
    }

    .text {
      max-height: 90.6977vw;
      overflow: hidden;

      p {
        font-size: 5.8140vw;
        line-height: 11.6279vw;
      }
    }

  }
  .who-we-are {
    &::before {
      width: 58.7674vw;
      height: 58.7674vw;
      top: -13.9535vw;
      right: 19.3372vw;
    }

  }
  .sec-hero {
    width: 100%;
    height: 195.8140vw;
  }


  .txt-block.open {
    .text {
      max-height: none;
    }
  }

  .footer-bottom {
    padding: 0;
    border-top: 3px solid $blue;

    a, p {
      font-size: 2.0930vw;
      line-height: 2;
    }

    p {
      margin-right: 1.3953vw;
      padding-right: 1.3953vw;

      &::after {
        height: 2.5581vw;
      }
    }
  }
  .footer-top {
    padding: 13.7209vw 12.0930vw 10.093vw 16.0465vw;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

  }
  .footer-logo {
    width: 68.3721vw;
    height: 37.6744vw;
    border: none;
    margin: 0;

    a, img {
      width: 100%;
      height: 100%;
    }

    margin-right: 3.4884vw;
  }
  .footer-column {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: none;

    &:nth-child(2) {
      border-left: none;
      width: 100%;
      max-width: 67.9070vw;
      margin-top: -4.8837vw;
      margin-bottom: 6.698vw;
      padding-bottom: 6.01395vw;
      border-bottom: 2px solid #fff;
    }
  }
  .footer-raw {
    width: 100%;

    p, a {
      font-size: 5.8140vw;
      line-height: 11.6279vw;
    }

    ul {
      li {
        a {
          font-size: 5.8140vw;
          line-height: 11.6279vw;
        }
      }
    }
  }


  .our-clients {
    padding: 10.4651vw 4.6512vw 17.6744vw;
  }
  .our-clients__wrap {
    .btns {
      display: none;
    }
  }
  .our-clients__cont {
    > span {
      font-size: 9.7674vw;
      line-height: 14.4186vw;
      margin-bottom: 4.1860vw;
    }
  }
  .single-client {
    height: 37.2093vw;
  }


  .our-specs .container {
    padding: 9.9674vw 11.1628vw 12.0930vw;
  }

  .our-specs__cont {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    > span {
      margin-bottom: 9.0698vw;
      font-size: 9.7674vw;
      line-height: 14.4186vw;
    }
  }
  .our-specs__list {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .single-specs {
    width: 100%;
    margin-bottom: 16.7442vw;

    &:last-child {
      margin-bottom: 0;
    }

    .img {
      width: auto;
      height: auto;
      margin-bottom: 1.8605vw;
    }

    p {
      font-size: 6.9767vw;
      line-height: 10.2326vw;
      max-width: 41.8605vw;
    }
  }


  .numbers-cont {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .single-number {
    width: 100%;
    margin-bottom: 36.2791vw;

    &::before {
      width: 3px;
      height: 23.9535vw;
      top: calc(100% + 8.3721vw);
      left: 50%;
      right: auto;
      transform: translate(-50%, 0);
    }

    &:last-child {
      margin-bottom: 0;
    }

    > span {
      width: 100%;
      height: 17.9070vw;
      font-size: 9.7674vw;
      line-height: 14.4186vw;
    }

    p {
      font-size: 23.2558vw;
      line-height: 34.1860vw;
      margin-bottom: 0;
    }
  }

  .numbers {
    padding-top: 9.3023vw;
    padding-bottom: 17.9070vw;

    .container {
      padding-left: 9.0698vw;
      padding-right: 10.6977vw;
    }
  }

  .about-us__cont {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      span {
        font-size: 9.7674vw;
        line-height: 14.4186vw;
        margin-bottom: 2.7907vw;
      }

      p {
        font-size: 5.8140vw;
        line-height: 11.6279vw;
        margin-bottom: 1.1628vw;
        text-align: center;

        br {
          display: none;
        }
      }

      a {
        width: 32.5581vw;
        height: 11.6279vw;
        margin-top: 0;
        font-size: 5.8140vw;
        line-height: 10.6977vw;
        font-weight: 300;
      }
    }
  }
  .about-us__cont .img {
    width: 100%;
    height: 79.3023vw;
    margin-bottom: 22.0930vw;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .about-us {
    padding-top: 8.6047vw;
    padding-bottom: 12.7907vw;

    .container {
      padding-left: 7.9070vw;
      padding-right: 7.6744vw;
    }
  }


  .home-hero {
    height: 195.3488vw;
    margin-top: 0;

    .go-down {
      bottom: 18.1395vw;
      margin-right: 1vw;

      &::after {
        width: 17.9070vw;
        height: 5.5814vw;
        top: calc(100% + 3.9535vw);
      }

      p {
        font-size: 9.7674vw;
        line-height: 14.4186vw;
      }

      p strong {
        margin-left: 3.9535vw;
        margin-right: 3.9535vw;
      }
    }
  }
  .about-us::before {
    background: url("../img/bgbgbg.svg") no-repeat center / 100%;
    transform: translate(50%, 0);
    right: 45%;
    width: 150vw;
    height: 120vw;
  }


  .desk {
    display: none;
  }
  .mob {
    display: flex;
  }
  .header {
    height: 20.9302vw;
    position: sticky;
  }
  .header .container {
    padding: 3.4884vw 7.4419vw 3.4884vw 6.0465vw;
  }
  .header-cont {
    padding-top: 3.0233vw;
    position: static;

    .logo {
      top: 3.4884vw;
      left: 6.0465vw;
      width: 38.6047vw;
      height: 21.3953vw;
    }
  }
  .burger {
    display: flex;
    width: 6.9767vw;
    height: 5.5814vw;
    position: relative;

    span {
      display: inline-block;
      width: 100%;
      height: 2px;
      background: #fff;
      position: absolute;
      left: 0;
      top: 0;
      transition: top 0.3s ease, left 0.3s ease, transform 0.3s ease;

      &:nth-child(2) {
        top: 50%;
        transform: translate(0, -50%);
      }

      &:nth-child(3) {
        bottom: 0;
        top: auto;

      }
    }

    &.active {
      span {
        &:nth-child(1) {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }

        &:nth-child(2), &:nth-child(3) {
          top: 50%;
          left: 50%;
          bottom: auto;
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }
  }
  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: rgba(9, 36, 79, 0.9);
    transform: translate(0, -120%);
    transition: transform 0.5s ease-in-out;

    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      li {
        width: 100%;
        margin: 0;
        border-bottom: 1px solid rgba(87, 170, 255, 0.12);

        &:last-child {
          border-bottom: none;
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 22.3256vw;
          width: 100%;
          font-size: 9.3023vw;
          line-height: 13.7209vw;
        }
      }
    }

  }

  .header-menu {
    &.out {
      .menu {
        transform: translate(0, 0);
      }
    }
  }

  .about-us__cont .text span {
    margin-left: 0.7vw;
    margin-bottom: 1.2907vw;
  }
  .about-us__cont .text p {
    max-height: 96.74vw;
    overflow: hidden;
  }
  .about-us__cont .text.vis p {
    max-height: none;
  }

  .single-specs {
    &:nth-child(1) {
      .img {
        margin-bottom: 4.8605vw;
        img {
          margin-right: 1.4vw;
        }
      }
      p {
        margin-right: 0.9vw;
      }
    }
    &:nth-child(2) {
      margin-right: 1.1vw;
    }
    &:nth-child(3) {
      .img {
        margin-right: 1.9vw;
        margin-bottom: 4.5vw;
      }
      p {
        margin-right: 1.3vw;
      }
    }
    &:nth-child(4) {
      .img {
        margin-right: 1vw;
        margin-bottom: 4.6vw;
      }
      p {
        margin-right: 1.05vw;
      }
    }
    &:nth-child(5) {
      .img {
        margin-right: 1.4vw;
        margin-bottom: 4.5vw;
      }
      p {
        margin-right: 1.2vw;
      }
    }
  }
  .our-clients__cont>span {
    letter-spacing: -0.0025em;
  }
  .footer-logo {
    padding-top: 1.6vw;
    margin-top: -1.6vw;
  }
}